--
-- PostgreSQL database dump
--

\restrict T0XVpRGhb0dikiH9ntS02uCicOVqm0jd5qBrYrtA71XipXLtMGWVcLpYxaLIYoO

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id integer NOT NULL,
    admin_id text NOT NULL,
    action text NOT NULL,
    target_type text NOT NULL,
    target_id text NOT NULL,
    details jsonb,
    ip_address text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."AuditLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AuditLog_id_seq" OWNER TO postgres;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."AuditLog_id_seq" OWNED BY public."AuditLog".id;


--
-- Name: Backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Backup" (
    id text NOT NULL,
    name text NOT NULL,
    type text DEFAULT 'full'::text NOT NULL,
    size text NOT NULL,
    size_bytes integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'completed'::text NOT NULL,
    location text,
    created_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Backup" OWNER TO postgres;

--
-- Name: EmployerProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmployerProfile" (
    id text NOT NULL,
    company_name text NOT NULL,
    company_description text,
    website text,
    logo_url text,
    industry_id integer NOT NULL,
    company_size text,
    location text,
    phone text,
    founded_year integer,
    headquarters text,
    social_links jsonb,
    jobs_count integer DEFAULT 0 NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    cover_image text,
    user_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone
);


ALTER TABLE public."EmployerProfile" OWNER TO postgres;

--
-- Name: EmploymentType; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmploymentType" (
    id integer NOT NULL,
    type_name text NOT NULL
);


ALTER TABLE public."EmploymentType" OWNER TO postgres;

--
-- Name: EmploymentType_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."EmploymentType_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EmploymentType_id_seq" OWNER TO postgres;

--
-- Name: EmploymentType_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."EmploymentType_id_seq" OWNED BY public."EmploymentType".id;


--
-- Name: JobApplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobApplication" (
    id text NOT NULL,
    job_id text NOT NULL,
    seeker_id text NOT NULL,
    resume_url text,
    cover_letter text,
    status_id integer NOT NULL,
    employer_notes text,
    applied_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."JobApplication" OWNER TO postgres;

--
-- Name: JobApplicationNote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobApplicationNote" (
    id integer NOT NULL,
    application_id text NOT NULL,
    employer_id text NOT NULL,
    note_text text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."JobApplicationNote" OWNER TO postgres;

--
-- Name: JobApplicationNote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobApplicationNote_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobApplicationNote_id_seq" OWNER TO postgres;

--
-- Name: JobApplicationNote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobApplicationNote_id_seq" OWNED BY public."JobApplicationNote".id;


--
-- Name: JobApplicationStatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobApplicationStatus" (
    id integer NOT NULL,
    status_name text NOT NULL
);


ALTER TABLE public."JobApplicationStatus" OWNER TO postgres;

--
-- Name: JobApplicationStatus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobApplicationStatus_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobApplicationStatus_id_seq" OWNER TO postgres;

--
-- Name: JobApplicationStatus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobApplicationStatus_id_seq" OWNED BY public."JobApplicationStatus".id;


--
-- Name: JobBookmark; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobBookmark" (
    id integer NOT NULL,
    seeker_id text NOT NULL,
    job_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."JobBookmark" OWNER TO postgres;

--
-- Name: JobBookmark_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobBookmark_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobBookmark_id_seq" OWNER TO postgres;

--
-- Name: JobBookmark_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobBookmark_id_seq" OWNED BY public."JobBookmark".id;


--
-- Name: JobIndustry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobIndustry" (
    id integer NOT NULL,
    industry_name text NOT NULL
);


ALTER TABLE public."JobIndustry" OWNER TO postgres;

--
-- Name: JobIndustry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobIndustry_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobIndustry_id_seq" OWNER TO postgres;

--
-- Name: JobIndustry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobIndustry_id_seq" OWNED BY public."JobIndustry".id;


--
-- Name: JobPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobPost" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    requirements text,
    benefits text,
    employer_id text NOT NULL,
    industry_id integer NOT NULL,
    employment_type_id integer NOT NULL,
    salary_min numeric(10,2),
    salary_max numeric(10,2),
    salary_range text,
    location text NOT NULL,
    is_remote boolean DEFAULT false NOT NULL,
    status_id integer NOT NULL,
    views_count integer DEFAULT 0 NOT NULL,
    applications_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    company_name text,
    managed_company_id text
);


ALTER TABLE public."JobPost" OWNER TO postgres;

--
-- Name: JobPostStatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobPostStatus" (
    id integer NOT NULL,
    status_name text NOT NULL
);


ALTER TABLE public."JobPostStatus" OWNER TO postgres;

--
-- Name: JobPostStatus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobPostStatus_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobPostStatus_id_seq" OWNER TO postgres;

--
-- Name: JobPostStatus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobPostStatus_id_seq" OWNED BY public."JobPostStatus".id;


--
-- Name: JobSeekerPreference; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobSeekerPreference" (
    id text NOT NULL,
    seeker_id text NOT NULL,
    job_alerts_enabled boolean DEFAULT true NOT NULL,
    email_notifications boolean DEFAULT true NOT NULL,
    push_notifications boolean DEFAULT false NOT NULL,
    profile_visibility text DEFAULT 'public'::text NOT NULL,
    preferred_job_types text[] DEFAULT ARRAY[]::text[],
    preferred_locations text[] DEFAULT ARRAY[]::text[],
    preferred_industries integer[] DEFAULT ARRAY[]::integer[],
    min_salary integer,
    max_salary integer,
    experience_level text DEFAULT 'entry'::text NOT NULL,
    notification_frequency text DEFAULT 'instant'::text NOT NULL,
    resume_visibility boolean DEFAULT true NOT NULL,
    allow_employer_contact boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."JobSeekerPreference" OWNER TO postgres;

--
-- Name: JobSeekerProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobSeekerProfile" (
    id text NOT NULL,
    full_name text NOT NULL,
    phone text,
    resume_url text,
    skills text[],
    experience text,
    education text,
    location text,
    cover_image text,
    avatar text,
    bio text,
    title text,
    linkedin_url text,
    github_url text,
    portfolio_url text,
    availability text,
    user_id text NOT NULL
);


ALTER TABLE public."JobSeekerProfile" OWNER TO postgres;

--
-- Name: ManagedCompany; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ManagedCompany" (
    id text NOT NULL,
    employer_id text NOT NULL,
    company_name text NOT NULL,
    logo_url text,
    website text,
    location text,
    description text,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ManagedCompany" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id integer NOT NULL,
    user_id text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    metadata jsonb
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: NotificationPreference; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NotificationPreference" (
    id integer NOT NULL,
    user_id text NOT NULL,
    email_notifications boolean DEFAULT true NOT NULL,
    push_notifications boolean DEFAULT true NOT NULL,
    application_updates boolean DEFAULT true NOT NULL,
    new_job_alerts boolean DEFAULT true NOT NULL,
    status_changes boolean DEFAULT true NOT NULL,
    marketing_emails boolean DEFAULT false NOT NULL,
    weekly_digest boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NotificationPreference" OWNER TO postgres;

--
-- Name: NotificationPreference_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."NotificationPreference_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NotificationPreference_id_seq" OWNER TO postgres;

--
-- Name: NotificationPreference_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."NotificationPreference_id_seq" OWNED BY public."NotificationPreference".id;


--
-- Name: Notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Notification_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Notification_id_seq" OWNER TO postgres;

--
-- Name: Notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Notification_id_seq" OWNED BY public."Notification".id;


--
-- Name: SearchLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SearchLog" (
    id integer NOT NULL,
    user_id text,
    search_term text NOT NULL,
    filters jsonb,
    results_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SearchLog" OWNER TO postgres;

--
-- Name: SearchLog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."SearchLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SearchLog_id_seq" OWNER TO postgres;

--
-- Name: SearchLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."SearchLog_id_seq" OWNED BY public."SearchLog".id;


--
-- Name: SystemSetting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemSetting" (
    id integer NOT NULL,
    site_name text DEFAULT 'JobPortal'::text NOT NULL,
    site_description text DEFAULT 'Connect job seekers with employers'::text NOT NULL,
    site_logo text DEFAULT ''::text NOT NULL,
    site_favicon text DEFAULT ''::text NOT NULL,
    contact_email text DEFAULT 'admin@jobportal.com'::text NOT NULL,
    support_email text DEFAULT 'support@jobportal.com'::text NOT NULL,
    timezone text DEFAULT 'UTC'::text NOT NULL,
    date_format text DEFAULT 'MM/DD/YYYY'::text NOT NULL,
    maintenance_mode boolean DEFAULT false NOT NULL,
    maintenance_message text DEFAULT ''::text NOT NULL,
    enable_registration boolean DEFAULT true NOT NULL,
    require_email_verification boolean DEFAULT true NOT NULL,
    default_user_role text DEFAULT 'Job Seeker'::text NOT NULL,
    max_users integer DEFAULT 10000 NOT NULL,
    auto_approve_employers boolean DEFAULT false NOT NULL,
    allow_social_login boolean DEFAULT false NOT NULL,
    require_job_approval boolean DEFAULT true NOT NULL,
    max_job_posts_per_employer integer DEFAULT 50 NOT NULL,
    job_expiry_days integer DEFAULT 30 NOT NULL,
    allow_job_editing boolean DEFAULT true NOT NULL,
    featured_job_price double precision DEFAULT 49.99 NOT NULL,
    allow_free_jobs boolean DEFAULT true NOT NULL,
    max_job_tags integer DEFAULT 10 NOT NULL,
    max_applications_per_seeker integer DEFAULT 100 NOT NULL,
    require_cover_letter boolean DEFAULT false NOT NULL,
    require_resume_upload boolean DEFAULT true NOT NULL,
    application_cooldown integer DEFAULT 7 NOT NULL,
    allow_withdraw_application boolean DEFAULT true NOT NULL,
    notify_employer_on_application boolean DEFAULT true NOT NULL,
    password_min_length integer DEFAULT 8 NOT NULL,
    require_uppercase boolean DEFAULT true NOT NULL,
    require_numbers boolean DEFAULT true NOT NULL,
    require_special_chars boolean DEFAULT false NOT NULL,
    session_timeout integer DEFAULT 30 NOT NULL,
    max_login_attempts integer DEFAULT 5 NOT NULL,
    two_factor_auth boolean DEFAULT false NOT NULL,
    lockout_duration integer DEFAULT 30 NOT NULL,
    email_notifications boolean DEFAULT true NOT NULL,
    push_notifications boolean DEFAULT true NOT NULL,
    notify_on_new_job boolean DEFAULT true NOT NULL,
    notify_on_application boolean DEFAULT true NOT NULL,
    notify_on_status_change boolean DEFAULT true NOT NULL,
    weekly_digest boolean DEFAULT true NOT NULL,
    admin_alert_emails text DEFAULT ''::text NOT NULL,
    smtp_host text DEFAULT 'smtp.gmail.com'::text NOT NULL,
    smtp_port integer DEFAULT 587 NOT NULL,
    smtp_user text DEFAULT ''::text NOT NULL,
    smtp_password text DEFAULT ''::text NOT NULL,
    smtp_encryption text DEFAULT 'TLS'::text NOT NULL,
    from_email text DEFAULT ''::text NOT NULL,
    from_name text DEFAULT ''::text NOT NULL,
    google_client_id text DEFAULT ''::text NOT NULL,
    google_client_secret text DEFAULT ''::text NOT NULL,
    linkedin_client_id text DEFAULT ''::text NOT NULL,
    linkedin_client_secret text DEFAULT ''::text NOT NULL,
    recaptcha_site_key text DEFAULT ''::text NOT NULL,
    recaptcha_secret_key text DEFAULT ''::text NOT NULL,
    auto_backup boolean DEFAULT false NOT NULL,
    backup_frequency text DEFAULT 'weekly'::text NOT NULL,
    backup_retention integer DEFAULT 30 NOT NULL,
    log_retention_days integer DEFAULT 90 NOT NULL,
    allowed_file_types text[] DEFAULT ARRAY['pdf'::text, 'doc'::text, 'docx'::text, 'txt'::text],
    max_file_size_mb integer DEFAULT 5 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemSetting" OWNER TO postgres;

--
-- Name: SystemSetting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."SystemSetting_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SystemSetting_id_seq" OWNER TO postgres;

--
-- Name: SystemSetting_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."SystemSetting_id_seq" OWNED BY public."SystemSetting".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    user_type_id integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_login timestamp(3) without time zone,
    full_name text,
    avatar text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    reset_password_token text,
    reset_password_expires timestamp(3) without time zone,
    email_verified boolean DEFAULT false NOT NULL,
    email_verification_token text,
    email_verification_expires timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserType; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserType" (
    id integer NOT NULL,
    type_name text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserType" OWNER TO postgres;

--
-- Name: UserType_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UserType_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserType_id_seq" OWNER TO postgres;

--
-- Name: UserType_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UserType_id_seq" OWNED BY public."UserType".id;


--
-- Name: AuditLog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog" ALTER COLUMN id SET DEFAULT nextval('public."AuditLog_id_seq"'::regclass);


--
-- Name: EmploymentType id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmploymentType" ALTER COLUMN id SET DEFAULT nextval('public."EmploymentType_id_seq"'::regclass);


--
-- Name: JobApplicationNote id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationNote" ALTER COLUMN id SET DEFAULT nextval('public."JobApplicationNote_id_seq"'::regclass);


--
-- Name: JobApplicationStatus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationStatus" ALTER COLUMN id SET DEFAULT nextval('public."JobApplicationStatus_id_seq"'::regclass);


--
-- Name: JobBookmark id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobBookmark" ALTER COLUMN id SET DEFAULT nextval('public."JobBookmark_id_seq"'::regclass);


--
-- Name: JobIndustry id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobIndustry" ALTER COLUMN id SET DEFAULT nextval('public."JobIndustry_id_seq"'::regclass);


--
-- Name: JobPostStatus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPostStatus" ALTER COLUMN id SET DEFAULT nextval('public."JobPostStatus_id_seq"'::regclass);


--
-- Name: Notification id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification" ALTER COLUMN id SET DEFAULT nextval('public."Notification_id_seq"'::regclass);


--
-- Name: NotificationPreference id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreference" ALTER COLUMN id SET DEFAULT nextval('public."NotificationPreference_id_seq"'::regclass);


--
-- Name: SearchLog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SearchLog" ALTER COLUMN id SET DEFAULT nextval('public."SearchLog_id_seq"'::regclass);


--
-- Name: SystemSetting id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSetting" ALTER COLUMN id SET DEFAULT nextval('public."SystemSetting_id_seq"'::regclass);


--
-- Name: UserType id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserType" ALTER COLUMN id SET DEFAULT nextval('public."UserType_id_seq"'::regclass);


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AuditLog" (id, admin_id, action, target_type, target_id, details, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: Backup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Backup" (id, name, type, size, size_bytes, status, location, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: EmployerProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmployerProfile" (id, company_name, company_description, website, logo_url, industry_id, company_size, location, phone, founded_year, headquarters, social_links, jobs_count, is_verified, cover_image, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: EmploymentType; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmploymentType" (id, type_name) FROM stdin;
\.


--
-- Data for Name: JobApplication; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobApplication" (id, job_id, seeker_id, resume_url, cover_letter, status_id, employer_notes, applied_at, updated_at) FROM stdin;
\.


--
-- Data for Name: JobApplicationNote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobApplicationNote" (id, application_id, employer_id, note_text, created_at) FROM stdin;
\.


--
-- Data for Name: JobApplicationStatus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobApplicationStatus" (id, status_name) FROM stdin;
\.


--
-- Data for Name: JobBookmark; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobBookmark" (id, seeker_id, job_id, created_at) FROM stdin;
\.


--
-- Data for Name: JobIndustry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobIndustry" (id, industry_name) FROM stdin;
\.


--
-- Data for Name: JobPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobPost" (id, title, description, requirements, benefits, employer_id, industry_id, employment_type_id, salary_min, salary_max, salary_range, location, is_remote, status_id, views_count, applications_count, created_at, updated_at, company_name, managed_company_id) FROM stdin;
\.


--
-- Data for Name: JobPostStatus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobPostStatus" (id, status_name) FROM stdin;
\.


--
-- Data for Name: JobSeekerPreference; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobSeekerPreference" (id, seeker_id, job_alerts_enabled, email_notifications, push_notifications, profile_visibility, preferred_job_types, preferred_locations, preferred_industries, min_salary, max_salary, experience_level, notification_frequency, resume_visibility, allow_employer_contact, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: JobSeekerProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobSeekerProfile" (id, full_name, phone, resume_url, skills, experience, education, location, cover_image, avatar, bio, title, linkedin_url, github_url, portfolio_url, availability, user_id) FROM stdin;
\.


--
-- Data for Name: ManagedCompany; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ManagedCompany" (id, employer_id, company_name, logo_url, website, location, description, is_verified, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, user_id, title, message, type, is_read, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: NotificationPreference; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."NotificationPreference" (id, user_id, email_notifications, push_notifications, application_updates, new_job_alerts, status_changes, marketing_emails, weekly_digest, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: SearchLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SearchLog" (id, user_id, search_term, filters, results_count, created_at) FROM stdin;
\.


--
-- Data for Name: SystemSetting; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, user_type_id, is_active, last_login, full_name, avatar, created_at, updated_at, reset_password_token, reset_password_expires, email_verified, email_verification_token, email_verification_expires) FROM stdin;
\.


--
-- Data for Name: UserType; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserType" (id, type_name, created_at) FROM stdin;
\.


--
-- Name: AuditLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AuditLog_id_seq"', 1, false);


--
-- Name: EmploymentType_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."EmploymentType_id_seq"', 1, false);


--
-- Name: JobApplicationNote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobApplicationNote_id_seq"', 1, false);


--
-- Name: JobApplicationStatus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobApplicationStatus_id_seq"', 1, false);


--
-- Name: JobBookmark_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobBookmark_id_seq"', 1, false);


--
-- Name: JobIndustry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobIndustry_id_seq"', 1, false);


--
-- Name: JobPostStatus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobPostStatus_id_seq"', 1, false);


--
-- Name: NotificationPreference_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."NotificationPreference_id_seq"', 1, false);


--
-- Name: Notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Notification_id_seq"', 1, false);


--
-- Name: SearchLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SearchLog_id_seq"', 1, false);


--
-- Name: SystemSetting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SystemSetting_id_seq"', 1, false);


--
-- Name: UserType_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserType_id_seq"', 1, false);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Backup Backup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Backup"
    ADD CONSTRAINT "Backup_pkey" PRIMARY KEY (id);


--
-- Name: EmployerProfile EmployerProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployerProfile"
    ADD CONSTRAINT "EmployerProfile_pkey" PRIMARY KEY (id);


--
-- Name: EmploymentType EmploymentType_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmploymentType"
    ADD CONSTRAINT "EmploymentType_pkey" PRIMARY KEY (id);


--
-- Name: JobApplicationNote JobApplicationNote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationNote"
    ADD CONSTRAINT "JobApplicationNote_pkey" PRIMARY KEY (id);


--
-- Name: JobApplicationStatus JobApplicationStatus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationStatus"
    ADD CONSTRAINT "JobApplicationStatus_pkey" PRIMARY KEY (id);


--
-- Name: JobApplication JobApplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_pkey" PRIMARY KEY (id);


--
-- Name: JobBookmark JobBookmark_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobBookmark"
    ADD CONSTRAINT "JobBookmark_pkey" PRIMARY KEY (id);


--
-- Name: JobIndustry JobIndustry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobIndustry"
    ADD CONSTRAINT "JobIndustry_pkey" PRIMARY KEY (id);


--
-- Name: JobPostStatus JobPostStatus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPostStatus"
    ADD CONSTRAINT "JobPostStatus_pkey" PRIMARY KEY (id);


--
-- Name: JobPost JobPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_pkey" PRIMARY KEY (id);


--
-- Name: JobSeekerPreference JobSeekerPreference_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobSeekerPreference"
    ADD CONSTRAINT "JobSeekerPreference_pkey" PRIMARY KEY (id);


--
-- Name: JobSeekerProfile JobSeekerProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobSeekerProfile"
    ADD CONSTRAINT "JobSeekerProfile_pkey" PRIMARY KEY (id);


--
-- Name: ManagedCompany ManagedCompany_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ManagedCompany"
    ADD CONSTRAINT "ManagedCompany_pkey" PRIMARY KEY (id);


--
-- Name: NotificationPreference NotificationPreference_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreference"
    ADD CONSTRAINT "NotificationPreference_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: SearchLog SearchLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SearchLog"
    ADD CONSTRAINT "SearchLog_pkey" PRIMARY KEY (id);


--
-- Name: SystemSetting SystemSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSetting"
    ADD CONSTRAINT "SystemSetting_pkey" PRIMARY KEY (id);


--
-- Name: UserType UserType_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserType"
    ADD CONSTRAINT "UserType_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Backup_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_created_at_idx" ON public."Backup" USING btree (created_at);


--
-- Name: Backup_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Backup_status_idx" ON public."Backup" USING btree (status);


--
-- Name: EmployerProfile_industry_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmployerProfile_industry_id_idx" ON public."EmployerProfile" USING btree (industry_id);


--
-- Name: EmployerProfile_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmployerProfile_user_id_idx" ON public."EmployerProfile" USING btree (user_id);


--
-- Name: EmployerProfile_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmployerProfile_user_id_key" ON public."EmployerProfile" USING btree (user_id);


--
-- Name: EmploymentType_type_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmploymentType_type_name_key" ON public."EmploymentType" USING btree (type_name);


--
-- Name: JobApplicationNote_application_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobApplicationNote_application_id_idx" ON public."JobApplicationNote" USING btree (application_id);


--
-- Name: JobApplicationStatus_status_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobApplicationStatus_status_name_key" ON public."JobApplicationStatus" USING btree (status_name);


--
-- Name: JobApplication_job_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobApplication_job_id_idx" ON public."JobApplication" USING btree (job_id);


--
-- Name: JobApplication_job_id_seeker_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobApplication_job_id_seeker_id_key" ON public."JobApplication" USING btree (job_id, seeker_id);


--
-- Name: JobApplication_seeker_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobApplication_seeker_id_idx" ON public."JobApplication" USING btree (seeker_id);


--
-- Name: JobApplication_status_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobApplication_status_id_idx" ON public."JobApplication" USING btree (status_id);


--
-- Name: JobBookmark_job_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobBookmark_job_id_idx" ON public."JobBookmark" USING btree (job_id);


--
-- Name: JobBookmark_seeker_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobBookmark_seeker_id_idx" ON public."JobBookmark" USING btree (seeker_id);


--
-- Name: JobBookmark_seeker_id_job_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobBookmark_seeker_id_job_id_key" ON public."JobBookmark" USING btree (seeker_id, job_id);


--
-- Name: JobIndustry_industry_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobIndustry_industry_name_key" ON public."JobIndustry" USING btree (industry_name);


--
-- Name: JobPostStatus_status_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobPostStatus_status_name_key" ON public."JobPostStatus" USING btree (status_name);


--
-- Name: JobPost_company_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_company_name_idx" ON public."JobPost" USING btree (company_name);


--
-- Name: JobPost_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_created_at_idx" ON public."JobPost" USING btree (created_at);


--
-- Name: JobPost_employer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_employer_id_idx" ON public."JobPost" USING btree (employer_id);


--
-- Name: JobPost_employment_type_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_employment_type_id_idx" ON public."JobPost" USING btree (employment_type_id);


--
-- Name: JobPost_industry_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_industry_id_idx" ON public."JobPost" USING btree (industry_id);


--
-- Name: JobPost_managed_company_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_managed_company_id_idx" ON public."JobPost" USING btree (managed_company_id);


--
-- Name: JobPost_status_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobPost_status_id_idx" ON public."JobPost" USING btree (status_id);


--
-- Name: JobSeekerPreference_seeker_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobSeekerPreference_seeker_id_idx" ON public."JobSeekerPreference" USING btree (seeker_id);


--
-- Name: JobSeekerPreference_seeker_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobSeekerPreference_seeker_id_key" ON public."JobSeekerPreference" USING btree (seeker_id);


--
-- Name: JobSeekerProfile_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JobSeekerProfile_user_id_idx" ON public."JobSeekerProfile" USING btree (user_id);


--
-- Name: JobSeekerProfile_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "JobSeekerProfile_user_id_key" ON public."JobSeekerProfile" USING btree (user_id);


--
-- Name: ManagedCompany_company_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ManagedCompany_company_name_idx" ON public."ManagedCompany" USING btree (company_name);


--
-- Name: ManagedCompany_employer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ManagedCompany_employer_id_idx" ON public."ManagedCompany" USING btree (employer_id);


--
-- Name: NotificationPreference_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "NotificationPreference_user_id_key" ON public."NotificationPreference" USING btree (user_id);


--
-- Name: Notification_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_created_at_idx" ON public."Notification" USING btree (created_at);


--
-- Name: Notification_is_read_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_is_read_idx" ON public."Notification" USING btree (is_read);


--
-- Name: Notification_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_user_id_idx" ON public."Notification" USING btree (user_id);


--
-- Name: SearchLog_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SearchLog_created_at_idx" ON public."SearchLog" USING btree (created_at);


--
-- Name: SearchLog_search_term_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SearchLog_search_term_idx" ON public."SearchLog" USING btree (search_term);


--
-- Name: UserType_type_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserType_type_name_key" ON public."UserType" USING btree (type_name);


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_reset_password_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_reset_password_token_idx" ON public."User" USING btree (reset_password_token);


--
-- Name: User_reset_password_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_reset_password_token_key" ON public."User" USING btree (reset_password_token);


--
-- Name: User_user_type_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_user_type_id_idx" ON public."User" USING btree (user_type_id);


--
-- Name: AuditLog AuditLog_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_admin_id_fkey" FOREIGN KEY (admin_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EmployerProfile EmployerProfile_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployerProfile"
    ADD CONSTRAINT "EmployerProfile_industry_id_fkey" FOREIGN KEY (industry_id) REFERENCES public."JobIndustry"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EmployerProfile EmployerProfile_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployerProfile"
    ADD CONSTRAINT "EmployerProfile_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobApplicationNote JobApplicationNote_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationNote"
    ADD CONSTRAINT "JobApplicationNote_application_id_fkey" FOREIGN KEY (application_id) REFERENCES public."JobApplication"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobApplicationNote JobApplicationNote_employer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplicationNote"
    ADD CONSTRAINT "JobApplicationNote_employer_id_fkey" FOREIGN KEY (employer_id) REFERENCES public."EmployerProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobApplication JobApplication_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_job_id_fkey" FOREIGN KEY (job_id) REFERENCES public."JobPost"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobApplication JobApplication_seeker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_seeker_id_fkey" FOREIGN KEY (seeker_id) REFERENCES public."JobSeekerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobApplication JobApplication_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_status_id_fkey" FOREIGN KEY (status_id) REFERENCES public."JobApplicationStatus"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobBookmark JobBookmark_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobBookmark"
    ADD CONSTRAINT "JobBookmark_job_id_fkey" FOREIGN KEY (job_id) REFERENCES public."JobPost"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobBookmark JobBookmark_seeker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobBookmark"
    ADD CONSTRAINT "JobBookmark_seeker_id_fkey" FOREIGN KEY (seeker_id) REFERENCES public."JobSeekerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobPost JobPost_employer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_employer_id_fkey" FOREIGN KEY (employer_id) REFERENCES public."EmployerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobPost JobPost_employment_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_employment_type_id_fkey" FOREIGN KEY (employment_type_id) REFERENCES public."EmploymentType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobPost JobPost_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_industry_id_fkey" FOREIGN KEY (industry_id) REFERENCES public."JobIndustry"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobPost JobPost_managed_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_managed_company_id_fkey" FOREIGN KEY (managed_company_id) REFERENCES public."ManagedCompany"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: JobPost JobPost_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobPost"
    ADD CONSTRAINT "JobPost_status_id_fkey" FOREIGN KEY (status_id) REFERENCES public."JobPostStatus"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobSeekerPreference JobSeekerPreference_seeker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobSeekerPreference"
    ADD CONSTRAINT "JobSeekerPreference_seeker_id_fkey" FOREIGN KEY (seeker_id) REFERENCES public."JobSeekerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobSeekerProfile JobSeekerProfile_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobSeekerProfile"
    ADD CONSTRAINT "JobSeekerProfile_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ManagedCompany ManagedCompany_employer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ManagedCompany"
    ADD CONSTRAINT "ManagedCompany_employer_id_fkey" FOREIGN KEY (employer_id) REFERENCES public."EmployerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationPreference NotificationPreference_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreference"
    ADD CONSTRAINT "NotificationPreference_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SearchLog SearchLog_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SearchLog"
    ADD CONSTRAINT "SearchLog_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_user_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_user_type_id_fkey" FOREIGN KEY (user_type_id) REFERENCES public."UserType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict T0XVpRGhb0dikiH9ntS02uCicOVqm0jd5qBrYrtA71XipXLtMGWVcLpYxaLIYoO

